:root {
    --header-text-color: aqua;
    --box-shadow: lightgrey;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/octopus.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#header {
    background-image: linear-gradient(aqua, blue);
    font-family: Lobster, cursive;
}

#searchHistory {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
}

a {
    color: var(--header-text-color);
}

.searchbox {
    width: 25rem;
}

.button {
    background-color: var(--header-text-color);
}

#animal-image {
    display: block;
}
 