:root {
    --header-text-color: black
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

#header {
    font-size: 24px;
    text-align: center;
    background-image: linear-gradient(blueviolet, violet);
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--header-text-color);
    font-weight: bolder;
}