body {
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#F2F1E9;
	color:#74504E;
	font-size:12px;
	line-height:18px;
	background-image:url(../images/pino.png);
	background-repeat:repeat-x;
	background-position:left 50px;
}
img {
	margin:0;
	padding:0;
	border:none;
}