:root {
    --header-text-color: black;
    --second-header-text: aqua;
    --box-shadow: lightgrey;
    --hover: white;
    --zoo-banner: green;
    --body: darkgrey;
}

body {
    background-color: var(--body);
}

#header {
    background-image: url(../images/african-grey.jpg);
    background-size: 2600px;
    background-position: 0px 1550px;
    background-repeat: repeat;
    background-color: none;
    font-family: Lobster, cursive;
    padding-bottom: 80rem;
}

.nav {
    display: flex;
}

.nav a {
    color: var(--second-header-text);
}

.about-us:hover {
    color: var(--hover);
}

.contact-us:hover  {
    color: var(--hover)
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

#aquariums {
    height: 30vh;
    background-image: url(../images/boxfish.jpg);
    background-size: 600px;
    background-position: -10px 380px;
    background-repeat: repeat;
    cursor: pointer;
}

#aquariums:hover {
    opacity: 0.7;
}

.aquarium-banner {
    background-color: var(--second-header-text);
    color: var(--header-text-color);
}

#zoos {
    height: 30vh;
    background-image: url(../images/peacock.jpg);
    background-size: 600px;
    background-position: -10px 380px;
    background-repeat: repeat;
    cursor: pointer;
}

#zoos:hover {
    opacity: 0.7;
}

.zoo-banner {
    background-color: var(--zoo-banner);
    color: var(--header-text-color);
}

#map {
    height: 80vh;
    width: 90vw;
    margin-left: 7rem;
  }

.noHover {
    pointer-events: none;
}

.about-us {
    font-family: Lobster, cursive;
}

.about-us p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.footer {
    background-color: var(--header-text-color);
    font-family: Lobster, cursive;
}

.contact-details {
    display: flex;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.contact-details a {
    color: var(--second-header-text);
}

.contact-details a:hover {
    color: var(--hover);
}

.marker {
    background-color: rgb(89, 155, 216);
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
  }


@media screen and (max-width: 2560px) {

    .cards {
        align-content: center;
    }

    #aquariums {
        width: 45vw;
        height: 50vh;
        background-size: 1300px;
        background-position: 0px 800px;
    }

    #zoos {
        width: 45vw;
        height: 50vh;
        background-size: 1200px;
        background-position: 0px 750px;
    }
}

@media screen and (max-width: 1440px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 2300px;
        background-position: -100px 1500px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 70rem;
    }

    .cards {
        align-content: center;
    }

    #aquariums {
        width: 45vw;
        height: 50vh;
        background-size: 850px;
        background-position: -50px 600px;

    }

    #zoos {
        width: 45vw;
        height: 50vh;
        background-size: 900px;
        background-position: -50px 600px;
    }

    #map {
        height: 60vh;
        width: 90vw;
        margin-left: 4.5rem;
      }
}

@media screen and (max-width: 1024px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 2300px;
        background-position: -600px 1400px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 70rem;
    }

    .cards {
        align-content: center;
        display: block;
       margin-left: 3rem;
    }

    #aquariums {
        width: 90vw;
        height: 40vh;
        background-size: 1000px;
        background-position: 0px 600px;
        margin-bottom: 2rem;
    }

    #zoos {
        width: 90vw;
        height: 40vh;
        background-size: 1000px;
        background-position: 0px 600px;
    }

    #map {
        height: 60vh;
        width: 90vw;
        margin-left: 3rem;
      }
}

@media screen and (max-width: 768px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 2000px;
        background-position: -600px 0px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 70rem;
    }

    .cards {
        align-content: center;
        display: block;
       margin-left: 2.5rem;
    }

    #aquariums {
        width: 90vw;
        height: 50vh;
        background-size: 900px;
        background-position: -20px 650px;
        margin-bottom: 2rem;
    }

    #zoos {
        width: 90vw;
        height: 50vh;
        background-size: 1000px;
        background-position: -80px 600px;
    }

    #map {
        height: 50vh;
        width: 90vw;
        margin-left: 2.5rem;
      }
}

@media screen and (max-width: 425px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 1500px;
        background-position: -600px 0px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 50rem;
    }

    .cards {
        align-content: center;
        display: block;
       margin-left: 1rem;
    }

    #aquariums {
        width: 90vw;
        height: 50vh;
        background-size: 800px;
        background-position: -260px 100px;
        margin-bottom: 2rem;
    }

    #zoos {
        width: 90vw;
        height: 50vh;
        background-size: 800px;
        background-position: -150px 600px;
    }

    #map {
        height: 40vh;
        width: 90vw;
        margin-left: 1rem;
      }

      .contact-details {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 390px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 1500px;
        background-position: -620px 0px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 50rem;
    }

    .cards {
        align-content: center;
        display: block;
        margin-left: 1rem;
    }

    #aquariums {
        width: 90vw;
        height: 50vh;
        background-size: 450px;
        background-position: -10px 450px;
        margin-bottom: 2rem;
    }

    #zoos {
        width: 90vw;
        height: 50vh;
        background-size: 500px;
        background-position: -50px 420px;
    }

    #map {
        height: 40vh;
        width: 90vw;
        margin-left: 1rem;
      }

    .contact-details {
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width: 280px) {

    #header {
        background-image: url(../images/african-grey.jpg);
        background-size: 1100px;
        background-position: -450px 60px;
        background-repeat: repeat;
        background-color: none;
        font-family: Lobster, cursive;
        padding-bottom: 35rem;
    }

    .cards {
        align-content: center;
        display: block;
       margin-left: 1.5rem;
    }

    #aquariums {
        width: 90vw;
        height: 80vh;
        background-size: 450px;
        background-position: -110px 210px;
        margin-bottom: 2rem;
    }

    #zoos {
        width: 90vw;
        height: 80vh;
        background-size: 600px;
        background-position: -150px 140px;
    }

    #map {
        height: 50vh;
        width: 90vw;
        margin-left: 1.5rem;
      }

    .contact-details {
        display: block;
    }
}