:root {
    --header-text-color: lightgreen;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../images/jaguar-flipped.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#header {
    background-image: linear-gradient(lightgreen, green);
    font-family: Lobster, cursive;
}

.nav {
    display: flex;
}

a {
    color: var(--header-text-color);

}

.searchbox {
    width: 25rem;
 }

.button {
    background-color: var(--header-text-color);
}

#animal-image {
    display: block;
}

#searchHistory {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--header-text-color);
    margin-left: 1.5rem;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    margin-bottom: .5rem;
}

button:hover {
   background-color: var(--hover);
   cursor: pointer;
}