:root {
    --header-title-text-color: black;
    --link-text-color: white;
    --link-hover-color: aqua;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 24px;
    text-align: center;
    /* background-image: linear-gradient(blueviolet, violet); */
    background-image: linear-gradient(aqua, blue);
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--header-text-color);
    font-weight: bolder;
    font-family: 'Lobster', cursive;
}

.home-button {
    text-decoration: none;
    color: var(--link-text-color);
    margin-right: 1rem;
}

.home-button:hover {
    color: var(--link-hover-color);
}

.breweries-page {
    text-decoration: none;
    color: var(--link-text-color);
}

.navbar:hover {
    color: var(--link-hover-color);
}